.card-container {
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-shadow: 0px 1px 1px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.1);

  transition: 0.3s box-shadow ease-in-out;

  &:hover {
    box-shadow: 0px 4px 10px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  }
}
