<div class="template-container">
  <div class="card-img">
    <img class="card-img-cover" src="{{imgSource}}"/>
  </div>
  <div class="card-body">
    <cz-subtitle class="title">{{title}}</cz-subtitle>
    <cz-paragraph class="description">{{description}}</cz-paragraph>
  </div>

</div>
