.template-container {
  &:hover {


    .card-img-cover {
      transform: scale(1.2);

    }

    .card-body {
      height: 120%;

      .description {
        text-overflow: initial;
        overflow: visible;
        display: block;
      }

    }
  }
}

.card-img {
  overflow: hidden;
  height: 100%;
}

.card-img-cover {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;

}

.card-body {
  z-index: 1;
  padding: 12px;
  height: 100%;
  overflow: hidden;
  transition: height 0.2s ease-in-out;

  .title {

  }

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;


  }
}
