<article>
  <!-- " 'background: linear-gradient(90deg,rgba(252, 176, 69, 1) 0%,rgba(253, 29, 29, 1) 50%,rgba(131, 58, 180, 1) 100%)'"-->
  <storybook-header
    (onCreateAccount)="doCreateAccount($event)"
    (onLogin)="doLogin()"
    (onLogout)="doLogout()"
    [headerColor]="'#febd1f'"
    [iconSource]="icon"
    [user]="user"

  ></storybook-header>
  <section
    style="width: 100vw; max-width: 100%; padding: 0; overflow: hidden;">
    <!-- NG-ZORRO -->
    <div
      style="display: flex; flex: 1; margin-top: 100px; flex-direction: column"
    >
      <div
        style="
          height: 200px;
          width: 100%;
          position: absolute;
          z-index: -1;
          left: 0;
          justify-content: center;
          align-items: center;
        "
      ></div>
      <div
        style="
          display: flex;
          flex-direction: row;
          padding-top: 20px;
          gap: 2em;
          justify-content: center;
          flex-wrap: wrap;
          flex: 1;
        "
      >
        <storybook-card
          [backgroundColor]="'#F8F8F8'"
          [cardWidth]="350"
          [description]="cardDescription"
          [imgSource]="cardImgSource"
          [isTemplated]="true"
          [title]="cardTitle"
        ></storybook-card>
        <cz-card>
          <cz-card-template-image
            [imgSource]="'./assets/ressources/img/cabane.png'"
            description="Vivez une expérience inoubliable dans ce havre de pets!"
            title="Chiottes au fond du jardin"
          >
          </cz-card-template-image>
        </cz-card>
        <cz-card>
          <cz-card-template-image
            [imgSource]="'./assets/ressources/img/cabane2.png'"
            description="Cabane réputée pour abriter des ours mangeurs de petite filles"
            title="Cabane au milieu des bois"
          >
          </cz-card-template-image>
        </cz-card>
        <cz-card>
          <cz-card-template-image
            [imgSource]="'./assets/ressources/img/hutte.png'"
            description="Vivez un week-end avec ce vieux sénile qui a toujours une anecdote drôle à raconter.."
            title="Hutte du vieux Gildas"
          >
          </cz-card-template-image>
        </cz-card>
      </div>
    </div>
    <div
      style="
        display: flex;
        padding-top: 100px;
        flex: 1;
        justify-content: center;
        gap: 20px;
        padding-bottom: 50px;
      "
    >
      <storybook-button
        (onButtonClick)="rentClick()"
        [backgroundColor]="'#febd1f'"
        [borderRadius]="20"
        [color]="'#080808'"
        [label]="'Louer'"
        [size]="'large'"
      >

      </storybook-button>
      <storybook-button
        (onButtonClick)="sellClick()"
        [backgroundColor]="'#080808'"
        [borderRadius]="20"
        [color]="'#fff'"
        [label]="'Vendre'"
        [size]="'large'"
      >
      </storybook-button>
    </div>
  </section>
</article>
