<!-- NG-ZORRO -->
<section
  id="FirstSlide"
  style="
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
  "
>
  <div>
    <div style="display: flex; justify-content: center; padding-bottom: 50px">
      <img src="./assets/ressources/img/storybook-icon.png" width="200px"/>
    </div>
    <!-- Start presentation  -->
    <cz-subtitle
    >Presented by
      <div style="padding-left: 20px">
        <cz-avatar
          [customSize]="64"
          [imgSrc]="'../assets/ressources/img/bb.png'"
        ></cz-avatar>
      </div>
    </cz-subtitle>
    <br/>
    <cz-paragraph [bold]="true">
      Take your
      <cz-icon iconName="coffee" style="padding-left: 4px; padding-right: 4px"></cz-icon>
      and a
      <cz-icon iconName="couch" style="padding-left: 4px; padding-right: 4px"></cz-icon>
    </cz-paragraph>
    <div style="display: flex; justify-content: center; padding-top: 30px">
      <cz-button
        (click)="scrollToNext(2)"
        [backgroundColor]="'#C5299B'"
        [color]="'#C5299B'"
        [outLined]="true"
      >Let's gow !
      </cz-button>
    </div>
  </div>
</section>

<!-- De quoi s'agit il? -->
<section
  id="SecondSlide"
  style="
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
  "
>
  <div>
    <cz-title>what about this presentation?</cz-title>
  </div>
  <div style="height: 100%; width: 100%; padding-top: 80px">
    <div
      style="
        height: 30vh;
        justify-content: center;
        background: rgb(184, 32, 19);
        background: linear-gradient(
          90deg,
          rgba(184, 32, 19, 1) 0%,
          rgba(29, 127, 253, 1) 50%,
          rgba(69, 239, 252, 1) 100%
        );
      "
    >
      <div
        style="
          display: flex;
          flex-direction: row;
          padding-top: 20px;
          gap: 4em;
          justify-content: center;
        "
      >
        <cz-card [height]="420">
          <cz-card-template-image
            [description]="'What else?'"
            [imgSource]="'./assets/ressources/img/angular.png'"
            [title]="'Angular'"
          ></cz-card-template-image>
        </cz-card>
        <cz-card [height]="420">
          <cz-card-template-image
            [description]="'Do not reinvent the wheel'"
            [imgSource]="'./assets/ressources/img/antd.png'"
            [title]="'Ant Design'"
          ></cz-card-template-image>
        </cz-card>
        <cz-card [height]="420">
          <cz-card-template-image
            [description]="
              'That\'s strange, it\'s looks like the React icon..'
            "
            [imgSource]="'./assets/ressources/img/React-icon.png'"
            [title]="'Atomic Design'"
          ></cz-card-template-image>
        </cz-card>
      </div>
      <div style="display: flex; justify-content: center; padding-top: 80px">
        <cz-button
          (click)="scrollToNext(3)"
          [backgroundColor]="'#C5299B'"
          [color]="'#C5299B'"
          [outLined]="true"
        >
          Discover this wonderfull world !
        </cz-button>
      </div>
    </div>
  </div>
</section>

<section
  id="ThirdSlide"
  style="
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    background-color: '#e7e7e7';
  "
>
  <div style="position: fixed;
    top: 20px;
    right: 20px; align-self: flex-end;"
  *ngIf="currentSlide>2">
    <cz-button
      (click)="scrollToNext(currentSlide - 1)"
      [backgroundColor]="'#C5299B'"
      [borderRadius]="100"
      [color]="'#e7e7e7'"
    >
      No comprendo ?
      <div style="padding-left: 10px">
        <cz-icon color="'#f3eee2'" iconName="arrow-up"></cz-icon>
      </div>
    </cz-button>
  </div>

  <div>
    <div
      style="
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 50px;
      "
    >
      <cz-title>Atomic Design did you say !?</cz-title>
    </div>
    <div
      style="
        display: flex;
        flex: 1;
        padding: 10px;
        justify-content: center;
        gap: 2em;
      "
    >
      <div
        style="
        width: 510px;
          border: 1px solid #261c1c38;
          border-radius: 8px;
          background-color: #fff;
          padding: 10px;
          display: flex;
          flex-direction: column;
        "
      >
        <div style="align-self: center">
          <cz-subtitle [underlined]="true">Atoms</cz-subtitle>
        </div>
        <div>
          <cz-icon></cz-icon>
          <cz-title>title</cz-title>
          <cz-subtitle>subtitle</cz-subtitle>
          <cz-paragraph>Paragraph</cz-paragraph>
          <cz-button
            (click)="buyClick()"
            [backgroundColor]="'#000'"
            [color]="'#fff'"
            [loading]="loadingBuy"
          >Button
          </cz-button>
          <cz-card backgroundColor="#dddddd"></cz-card>
        </div>
      </div>

      <div
        style="
        width: 510px;
          border: 1px solid #261c1c38;
          border-radius: 8px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          background-color: #fff;
        "
      >
        <div style="align-self: center">
          <cz-subtitle [underlined]="true">Composition</cz-subtitle>
        </div>
        <div style="display: flex; flex: 1; align-items: center">
          <img
            src="assets/ressources/gif/jim.gif"
            style="width: 480px; height: 270px"
          />
        </div>
      </div>

      <div
        style="
        width: 510px;
          border: 1px solid #261c1c38;
          border-radius: 8px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          background-color: #fff;
        "
      >
        <div style="align-self: center">
          <cz-subtitle [underlined]="true">Molecule</cz-subtitle>
        </div>
        <div style="display: flex; flex: 1; align-items: center;justify-content: center;">
          <cz-card backgroundColor="#FFF">
            <div>
              <div style="display: flex; justify-content: space-between">
                <div style="margin-left: 10px; margin-top: 5px">
                  <cz-title>Colombian Coffee</cz-title>
                </div>
                <div style="margin: 10px">
                  <cz-icon color="#776402"></cz-icon>
                </div>
              </div>
              <div style="display: flex; justify-content: center">
                <img
                  src="assets/ressources/img/juan.png"
                  style="width: 520px"
                />
              </div>
              <div class="card-body">
                <div style="display: flex; justify-content: space-between">
                  <div>
                    <cz-subtitle [underlined]="true">Special delivery</cz-subtitle>
                    <div style="display: flex; flex-direction: row; gap:0.5rem">
                      <div>

                        <cz-paragraph style="color: red; font-size: 18px;  text-decoration: line-through;">50€
                        </cz-paragraph>
                      </div>
                      <div style="display: flex; flex-direction: row; ">

                        <cz-paragraph [bold]="true" style="color: green; font-size: 18px;">49€</cz-paragraph>
                        <cz-paragraph [bold]="true" style=" font-size: 18px;">/g</cz-paragraph>
                      </div>

                    </div>
                  </div>
                  <div style="display: flex; align-self: center">
                    <cz-button
                      (click)="buyClick()"
                      [backgroundColor]="'#776402'"
                      [borderRadius]="8"
                      [color]="'#F8F8F8'"
                      [loading]="loadingBuy"
                    >
                      <cz-subtitle [color]="'#F8F8F8'" [fontWeightValue]="700">Order</cz-subtitle>
                    </cz-button>
                  </div>
                </div>
              </div>
            </div>
          </cz-card>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center; padding-top: 40px">
      <cz-button
        (click)="scrollToNext(4)"
        [backgroundColor]="'#C5299B'"
        [color]="'#C5299B'"
        [outLined]="true"
      >
        Okay and what ?
      </cz-button>
    </div>
  </div>
</section>

<section
  id="FourthSlide"
  style="
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  "
>
  <div>
    <cz-title>Let's see bigger..</cz-title>
  </div>

  <div style="padding-top: 40px">
    <img src="assets/ressources/gif/atomic.gif" style=" max-height: 70vh"/>
  </div>

  <div style="display: flex; margin-top: 50px; justify-content: center">
    <cz-button
      (click)="scrollToNext(5)"
      [backgroundColor]="'#C5299B'"
      [color]="'#C5299B'"
      [outLined]="true"
    >
      Yeah and can we speak about Storybook?
    </cz-button>
  </div>
</section>

<section
  id="FiveSlide"
  style="
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
  "
>
  <div>
    <cz-title>What about Storybook with your speech?</cz-title>
  </div>
  <div style="height: 100%; width: 100%; padding-top: 80px">
    <div
      style="
        height: 30vh;
        justify-content: center;
background: linear-gradient(90deg, rgb(5 29 78) 0%, rgb(6 39 134) 25%, rgb(140 159 186) 50%, rgb(223 228 231) 100%);
      "
    >
      <div
        style="
          display: flex;
          flex-direction: row;
          padding-top: 20px;
          gap: 4em;
          justify-content: center;
        "
      >
        <cz-card [height]="420">
          <cz-card-template-image
            [description]="'Usefull for everybody!'"
            [imgSource]="'./assets/ressources/img/technoeye.jpg'"
            [title]="'Global view'"
          ></cz-card-template-image>
        </cz-card>
        <cz-card [height]="420">
          <cz-card-template-image
            [description]="
              'Yes we can!'
            "
            [imgSource]="'./assets/ressources/img/docs.png'"
            [title]="'Complete documentation'"
          ></cz-card-template-image>
        </cz-card>
        <cz-card [height]="420">
          <cz-card-template-image
            [description]="
              'Visual, accessibility, integration, regression, ect..'
            "
            [imgSource]="'./assets/ressources/img/testing.png'"
            [title]="'Testing'"
          ></cz-card-template-image>
        </cz-card>
        <cz-card [height]="420">
          <cz-card-template-image
            [description]="'Allow to focus on every atom and maintain them over time'"
            [imgSource]="'./assets/ressources/img/foreveralone.png'"
            [title]="'Isolation of component'"
          ></cz-card-template-image>
        </cz-card>
      </div>
      <div style="display: flex; justify-content: center; padding-top: 80px">
        <cz-button
          (click)="scrollToNext(6)"
          [backgroundColor]="'#C5299B'"
          [color]="'#C5299B'"
          [outLined]="true"
        >
          see next slide : 5/100
        </cz-button>
      </div>
    </div>
  </div>


</section>

<section
  id="SixthSlide"
  style="
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  "
>
  <div>
    <cz-title> Addons!</cz-title>
  </div>
  <div style="display:flex; justify-content:center;padding-top: 40px">
    <img src="assets/ressources/img/addons.png" style="width: 80%"/>
  </div>
  <div style="display: flex; justify-content: center; padding-top: 40px">
    <cz-button
      (click)="scrollToNext(7)"
      [backgroundColor]="'#C5299B'"
      [color]="'#C5299B'"
      [outLined]="true"
    >
      see next slide : 6/100
    </cz-button>
  </div>
</section>

<section
  id="SeventhSlide"
  style="
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  "
>
  <div>
    <cz-title>By the way.. can we see Storybook?</cz-title>
  </div>

  <div style="padding-top: 40px">
    <img src="assets/ressources/gif/doitgif.gif" width="600"/>
  </div>

  <div style="display: flex; margin-top: 100px; justify-content: center">
    <cz-button
      [backgroundColor]="'#C5299B'"
      [borderRadius]="100"
      [color]="'#C5299B'"
      [outLined]="true"
    >
      <a
        (click)="scrollToNext(8)"
        href="http://localhost:6006/?path=/story/component-avatar--avatar"
        target="_blank"
      >Open Storybook</a
      >
    </cz-button>
  </div>
</section>
<section
  id="FinalSlide"
  style="
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  "
>
  <div>
    <cz-title>References & links</cz-title>
  </div>

  <div style="display: flex; margin-top: 100px; justify-content: center; flex-direction: column; gap:2em">

    <cz-subtitle><a href="https://storybook.js.org/" target="_blank">Storybook</a></cz-subtitle>
    <cz-subtitle><a href="https://angular.io/" target="_blank">Angular</a></cz-subtitle>
    <cz-subtitle><a href="https://ng.ant.design/docs/introduce/en" target="_blank">Ng-Zorro</a></cz-subtitle>
    <cz-subtitle><a href="https://atomicdesign.bradfrost.com/chapter-2/" target="_blank">Atomic Design</a></cz-subtitle>
    <cz-subtitle><a href="https://fontawesome.com/" target="_blank">Font-awesome (icons)</a></cz-subtitle>
    <cz-subtitle><a href="https://giphy.com/gifs/rick-roll-lgcUUCXgC8mEo" target="_blank">Where to find gif.. ( I know
      you can already ear the song)</a></cz-subtitle>
  </div>
  <div style="padding-top: 100px; display: flex; gap:8px">
    <cz-subtitle>thanks to your attention</cz-subtitle>
    <cz-icon [iconName]="'heart'"></cz-icon>
  </div>
</section>
