button {
  display: flex;
  align-items: center;
  border: none;
  padding: 1.5em 2.5em;
  min-height: 2em;
  font-family: "Tahoma", sans-serif;

  font-weight: bold;

  transition: 0.3s transform ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.small {
  height: 2em;
  font-size: 0.9em;
}

.medium {
  height: 2.5em;
  font-size: 1em;
}

.large {
  height: 3em;
  font-size: 1.2em;
}
