<button
  (click)="onClick($event)"
  [ngClass]="size"
  [ngStyle]="{
   'background-color': !outLined ? backgroundColor: 'transparent' ,
   'color': color ,
   'border-radius': borderRadius+'px' || '8px',
   'background': linearGradient && !outLined ? linearGradient : !outLined ? backgroundColor : 'transparent',
   'border' : outLined && backgroundColor ? '3px solid '+ backgroundColor : outLined && linearGradient ? '3px solid ' : 'none',
   'border-image-source': outLined && linearGradient ? linearGradient : 'none',
   'border-image-slice': outLined ? 1 : 0
   }"
  [nzLoading]="loading || false"
  nz-button
  nzStyle="primary"
>
  <ng-container *ngIf="!loading">
    <ng-content></ng-content>
  </ng-container>
</button>
